<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs')%>
</head>
<body>
  <h1>Pokemon Manager</h1>
  <ul>
    <% for(let i = 0; i < data.length; i++) { %>
      <li >
        <div class="name">
          <a href="/pokemon/<%= i %>"><%= data[i].name %> <br><br>
          </div>
            <div id="img">
              <img src="<%= data[i].img%>"></a>
            </div>
        
        <!-- Delete-->
        <form action="/pokemon/<%= i %>?_method=DELETE" method="POST">
          <div class="del">
              <input type="submit" value="DELETE" />
          </div>
        </form>

        <!-- Edit -->
        <button class="edit">
          <a href="/pokemon/<%= i %>/edit">EDIT</a>
        </button>
      </li>
      <% } %>
    </ul>
    <nav>
      <a href="/pokemon/new">Create a New Pokemon</a>
    </nav>
</body>
</html>